<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement or XMCloud">
		<federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
			<identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
				<mapEntry name="shell/launchpad">
					<externalUserBuilder>
						<patch:delete/>
					</externalUserBuilder>
				</mapEntry>
				<mapEntry name="graphql/ssc">
					<externalUserBuilder>
						<patch:delete/>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>
		</federatedAuthentication>
	</sitecore>
</configuration>
