<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement or XMCloud">
		<federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
			<identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
        <mapEntry name="all sites" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
          <externalUserBuilder patch:instead="*[@type='Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication']" type="Sitecore.XmCloud.FederatedAuthentication.Auth.Pipelines.CreateUniqueUser, Sitecore.XmCloud.FederatedAuthentication.Auth" resolve="true">
          </externalUserBuilder>
        </mapEntry>
				<mapEntry name="shell/launchpad">
					<externalUserBuilder>
						<patch:delete/>
					</externalUserBuilder>
				</mapEntry>
				<mapEntry name="graphql/ssc">
					<externalUserBuilder>
						<patch:delete/>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>
		</federatedAuthentication>
	</sitecore>
</configuration>
