<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.XmCloud.Common.Abstractions.ISiteRegistrationService, Sitecore.XmCloud.Common"
                patch:instead="*[@implementationType='Sitecore.XmCloud.Common.Services.SiteRegistrationService, Sitecore.XmCloud.Common']"
                implementationType="Sitecore.XmCloud.Common.Services.SitecoreSupportSiteRegistrationService, XmCloudSXAStarter"/>
    </services>
  </sitecore>
</configuration>
