<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <contentSearch.PopulateSolrSchema>
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider">
       <param type="XmCloudSXAStarter.CustomPopulateHelperFactory, XmCloudSXAStarter" patch:instead="*[@type='Sitecore.ContentSearch.SolrProvider.Factories.DefaultPopulateHelperFactory']"/>
     </processor>
      </contentSearch.PopulateSolrSchema>
    </pipelines>
  </sitecore>
</configuration>